<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">
  <title>Books</title>
</head>
<body>
  <main>
    <h1>Search Results</h1>
  
    <% for(let i = 0; i < titles.length; i++){ %>
    <ul>
      <li><img src="<%= titles[i].image %>"</li>
      <li><%= titles[i].title %></li>
      <li><%= titles[i].author %></li>
        <form action="/books" method="POST">
          <input type="hidden" name="title" value="<%= titles[i].title %>">
          <input type="hidden" name="author" value="<%= titles[i].author %>">
          <input type="hidden" name="description" value="<%= titles[i].description %>">
          <input type="hidden" name="image" value="<%= titles[i].image %>">
          <input type="hidden" name="isbn" value="<%= titles[i].isbn %>">
          <input type="submit" value="Select this Book">
        </form>
      <li><%= titles[i].description %></li>
    </ul>
    <% } %>

  </main>
  <!-- <ul>
    <% for(let i = 0; i < titles.length; i++){ %>
      <li><%= titles[i].description %></li>
    <% } %>
  </ul> -->
</body>
</html>