<%- include('../layout/head.ejs') %>

<body>
  <header>
    <%- include('../layout/nav.ejs') %>
  </header>
  <main>
    <div id="totalbooks">
    <h4><%= books.length %></h4>
    <h1>Saved Books</h1>
    </div>

  <% console.log('from the front end', books); %>
      <% for(let i=0; i < books.length; i++){ %>
        <ul>
          <li><img src="<%= books[i].image_url %>" </li>
          <li>
            <%= books[i].title %>
            <br>
          </li>
          <li><%= books[i].author %></li>
          <button id="details"><a href="/books/<%= books[i].id %>">View Details</a></button>
        </ul>
      <% } %>
  </main>
  <footer>
  </footer>
</body>

</html>