<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Books</title>
  <link rel="stylesheet" href="./styles/reset.css">
  <link rel="stylesheet" href="./styles/base.css">
  <link rel="stylesheet" href="./styles/layout.css">
  <link rel="stylesheet" href="./styles/modules.css">
</head>

<body>
  <h1>Saved Books</h1>
  <h2>Books Count: <%= books.length %></h2>
 <% console.log('from the front end', books); %>
    <% for(let i=0; i < books.length; i++){ %>
      <ul>
        <li><img src="<%= books[i].image_url %>" </li>
        <li>
          <%= books[i].title %>
          <br>
          <button><a href="/books/<%= books[i].id %>">View Details</a></button>
        </li>
        <li><%= books[i].author %></li>
        <li><%= books[i].description %></li>
      </ul>
    <% } %>

</body>

</html>